version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      react:
        patterns:
          - react
          - react-dom
          - "@types/react"
          - "@types/react-dom"
      next:
        patterns:
          - "next"
          - "eslint-config-next"
          - "@next/*"
      eslint:
        patterns:
          - "eslint"
          - "@eslint/js"
      typescript-eslint:
        patterns:
          - "typescript-eslint"
          - "@typescript-eslint/*"
      storybook:
        patterns:
          - "storybook"
          - "@storybook/*"
          - "eslint-plugin-storybook"
          - "storybook-addon-pseudo-states"
      vitest:
        patterns:
          - "vitest"
          - "@vitest/*"
      playwright:
        patterns:
          - "playwright"
          - "@playwright/*"
      jest:
        patterns:
          - "jest"
          - "jest-cli"
      tailwindcss:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
